## fut tbt data

In [12]:
import pandas as pd
import numpy as np
import glob
import os

# Path to the directory containing CSV files
file_path = 'D:\stocks_tbt_data\TCS24DECFUT'

# Use glob to find all CSV files in the directory
csv_files = glob.glob(file_path + "\\*.csv")

                            ################  code for sort csv_files list

csv_files_sort = pd.DataFrame(csv_files, columns=['date'])
x = 0
for i in csv_files_sort['date']:
    #print(i)
    csv_files_sort.loc[x, 'num'] = i.split('_')[-1].split('.')[0]
    x += 1
csv_files_sort['num'] = pd.to_numeric(csv_files_sort['num'])
csv_files_sorted = csv_files_sort.sort_values(by='num',ascending = True,ignore_index = True)

csv_files_sorted1 = csv_files_sorted.copy()

x1 = csv_files_sorted['date'][0].split("\\")[3]
x2 = csv_files_sorted1['date'][0].split("\\")[2]

# Initialize an empty list to store DataFrames
df_original = pd.DataFrame()
df_final_combine = pd.DataFrame()

# Read each CSV file and append its DataFrame to df_original
for csv_file in csv_files_sorted['date'][:]:
    print(csv_file)
    try:
        df = pd.read_csv(csv_file, low_memory = False)
        df_original = pd.concat([df_original, df], ignore_index=True)
    except pd.errors.EmptyDataError:
        print(f"Empty file found and skipped: {csv_file}")
    except pd.errors.ParserError:
        print(f"Parsing error encountered in file: {csv_file}")
        
df_original.ffill(inplace=True)        
original_col_list=df_original.columns
original_col_list[1:]
df_original.drop(columns=['ASKQ5'],inplace=True,axis=1)
df_original.columns=original_col_list[1:]

# df_original=df_original[df_original['MessageType']=='TRADE']
df_original['shift1_bid1'] = df_original['BID1'].shift(periods=1)   #shift bid1 by periods 1
df_original['shift1_ask1'] = df_original['ASK1'].shift(periods=1)
df_original['shift2_bid1'] = df_original['BID1'].shift(periods=2)   #shift bid1 by periods 1
df_original['shift2_ask1'] = df_original['ASK1'].shift(periods=2)
df_original['shift3_bid1'] = df_original['BID1'].shift(periods=3)   #shift bid1 by periods 1
df_original['shift3_ask1'] = df_original['ASK1'].shift(periods=3)
df_original['shift4_bid1'] = df_original['BID1'].shift(periods=4)   #shift bid1 by periods 1
df_original['shift4_ask1'] = df_original['ASK1'].shift(periods=4)
df_original['shift5_bid1'] = df_original['BID1'].shift(periods=5)   #shift bid1 by periods 1
df_original['shift5_ask1'] = df_original['ASK1'].shift(periods=5)
df_original['shift6_bid1'] = df_original['BID1'].shift(periods=6)   #shift bid1 by periods 1
df_original['shift6_ask1'] = df_original['ASK1'].shift(periods=6)
df_original['shift7_bid1'] = df_original['BID1'].shift(periods=7)   #shift bid1 by periods 1
df_original['shift7_ask1'] = df_original['ASK1'].shift(periods=7)
df_original['shift8_bid1'] = df_original['BID1'].shift(periods=8)   #shift bid1 by periods 1
df_original['shift8_ask1'] = df_original['ASK1'].shift(periods=8)
df_original['shift9_bid1'] = df_original['BID1'].shift(periods=9)   #shift bid1 by periods 1
df_original['shift9_ask1'] = df_original['ASK1'].shift(periods=9)
df_original['shift10_bid1'] = df_original['BID1'].shift(periods=10)   #shift bid1 by periods 1
df_original['shift10_ask1'] = df_original['ASK1'].shift(periods=10)


mask = (df_original['shift1_ask1'] - df_original['shift1_bid1']) > 0
# Assign values based on the mask
df_original.loc[mask, 'c1'] = np.where(
    (df_original.loc[mask, 'MessageType'] == "TRADE") & (df_original.loc[mask, 'LTP'] <= df_original.loc[mask, 'shift1_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask, 'c11'] = np.where(
    (df_original.loc[mask, 'MessageType'] == "TRADE") & (df_original.loc[mask, 'LTP'] > df_original.loc[mask, 'shift1_bid1']),1,0)

# df_original['c1_plus_c2'] = df_original['c1']+df_original['c2']

mask1 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask1, 'c2'] = np.where(
    (df_original.loc[mask1, 'MessageType'] == "TRADE") & (df_original.loc[mask1, 'LTP'] <= df_original.loc[mask1, 'shift2_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask1, 'c22'] = np.where(
    (df_original.loc[mask1, 'MessageType'] == "TRADE") & (df_original.loc[mask1, 'LTP'] > df_original.loc[mask1, 'shift2_bid1']),1,0)

mask2 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask2, 'c3'] = np.where(
    (df_original.loc[mask2, 'MessageType'] == "TRADE") & (df_original.loc[mask2, 'LTP'] <= df_original.loc[mask2, 'shift3_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask2, 'c33'] = np.where(
    (df_original.loc[mask2, 'MessageType'] == "TRADE") & (df_original.loc[mask2, 'LTP'] > df_original.loc[mask2, 'shift3_bid1']),1,0)

mask3 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask3, 'c4'] = np.where(
    (df_original.loc[mask3, 'MessageType'] == "TRADE") & (df_original.loc[mask3, 'LTP'] <= df_original.loc[mask3, 'shift4_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask3, 'c44'] = np.where(
    (df_original.loc[mask3, 'MessageType'] == "TRADE") & (df_original.loc[mask3, 'LTP'] > df_original.loc[mask3, 'shift4_bid1']),1,0)

mask4 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) & ((df_original['shift5_ask1'] - df_original['shift5_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask4, 'c5'] = np.where(
    (df_original.loc[mask4, 'MessageType'] == "TRADE") & (df_original.loc[mask4, 'LTP'] <= df_original.loc[mask4, 'shift5_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask4, 'c55'] = np.where(
    (df_original.loc[mask4, 'MessageType'] == "TRADE") & (df_original.loc[mask4, 'LTP'] > df_original.loc[mask4, 'shift5_bid1']),1,0)

mask5 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask5, 'c6'] = np.where(
    (df_original.loc[mask5, 'MessageType'] == "TRADE") & (df_original.loc[mask5, 'LTP'] <= df_original.loc[mask5, 'shift6_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask5, 'c66'] = np.where(
    (df_original.loc[mask5, 'MessageType'] == "TRADE") & (df_original.loc[mask5, 'LTP'] > df_original.loc[mask5, 'shift6_bid1']),1,0)

mask6 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
        ((df_original['shift7_ask1'] - df_original['shift7_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask6, 'c7'] = np.where(
    (df_original.loc[mask6, 'MessageType'] == "TRADE") & (df_original.loc[mask6, 'LTP'] <= df_original.loc[mask6, 'shift7_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask6, 'c77'] = np.where(
    (df_original.loc[mask6, 'MessageType'] == "TRADE") & (df_original.loc[mask6, 'LTP'] > df_original.loc[mask6, 'shift7_bid1']),1,0)

mask7 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
        ((df_original['shift7_ask1'] - df_original['shift7_bid1']) <= 0) & ((df_original['shift8_ask1'] - df_original['shift8_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask7, 'c8'] = np.where(
    (df_original.loc[mask7, 'MessageType'] == "TRADE") & (df_original.loc[mask7, 'LTP'] <= df_original.loc[mask7, 'shift8_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask7, 'c88'] = np.where(
    (df_original.loc[mask7, 'MessageType'] == "TRADE") & (df_original.loc[mask7, 'LTP'] > df_original.loc[mask7, 'shift8_bid1']),1,0)

# df_original['signal'] = df_original['c1']+df_original['c11']+df_original['c2']+df_original['c22']+df_original['c3']+df_original['c33']+ df_original['c4']+df_original['c44']+df_original['c5']+df_original['c55']+df_original['c6']+df_original['c66']+ df_original['c7']+df_original['c77']+df_original['c8']+df_original['c88']
columns_to_sum = [
    'c1', 'c11', 'c2', 'c22', 'c3', 'c33', 
    'c4', 'c44', 'c5', 'c55', 'c6', 'c66', 
    'c7', 'c77', 'c8', 'c88'
]
df_original['signal'] = df_original[columns_to_sum].sum(axis=1, skipna=True)
df_original=df_original[df_original['MessageType']=='TRADE']
df_original['signal'] = df_original['signal'].replace(0,np.nan)
df_original['signal'] = df_original['signal'].ffill()

df_original['sum'] = df_original['LTQ'].astype(int) * df_original['signal'].astype(int)

df_original_cumm=df_original.copy()
df_original_cumm['cumm_sum']=df_original_cumm['sum'].cumsum()
df_original_cumm.head()



# path = "F:\\mansukh\\Tbt data file\\FINNIFTY24APR21300CE\\"
file_name = file_path + "df_original.csv"
df_original_cumm.to_csv(file_name, index=False)

D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_1.CSV
D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_2.CSV
D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_3.CSV
D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_4.CSV
D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_5.CSV
D:\stocks_tbt_data\TCS24DECFUT\TCS24DECFUT_6.CSV

## stock tbt data

In [12]:
import pandas as pd
import numpy as np
import glob
import os

# Path to the directory containing CSV filesD:\stock_cash_tbt_data\Bhartiairtel_cash
# file_path = r'D:\stock_cash_tbt_data\infy_cash'
file_path = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
# Use glob to get all folder names in subdirectories that match the pattern
all_folders = glob.glob(os.path.join(file_path, '**'))
for folder in all_folders[:1]:
    print(folder)
    # Get all CSV files in the folder
    csv_files = glob.glob(os.path.join(folder, '*.csv'))
    
    if not csv_files:  # Check if the list is empty
        print("skipping")
        continue
    csv_files_sort = pd.DataFrame(csv_files, columns=['date'])
    x = 0
    for i in csv_files_sort['date']:
        #print(i)
        csv_files_sort.loc[x, 'num'] = i.split('_')[-1].split('.')[0]
        x += 1
    csv_files_sort['num'] = pd.to_numeric(csv_files_sort['num'])
    csv_files_sorted = csv_files_sort.sort_values(by='num',ascending = True,ignore_index = True)
    # csv_files_sorted1 = csv_files_sorted.copy()

    date = csv_files_sorted['date'][0].split("\\")[3]
    stock_name = csv_files_sorted['date'][0].split('_')[5].split('\\')[-1]
    print(date)
    print(stock_name)
    df_original = pd.DataFrame()
    # Read each CSV file and append its DataFrame to df_original
    for csv_file in csv_files_sorted['date'][:]:
        print(csv_file)
        try:
            df = pd.read_csv(csv_file, low_memory = False)
            df_original = pd.concat([df_original, df], ignore_index=True)
        except pd.errors.EmptyDataError:
            print(f"Empty file found and skipped: {csv_file}")
        except pd.errors.ParserError:
            print(f"Parsing error encountered in file: {csv_file}")
    df_original.ffill(inplace=True)        
    original_col_list=df_original.columns
    original_col_list[1:]
    df_original.drop(columns=['ASKQ5'],inplace=True,axis=1)
    df_original.columns=original_col_list[1:]
    df_original.columns = df_original.columns.str.upper()

    df_original['shift1_bid1'] = df_original['BID1'].shift(periods=1)   #shift bid1 by periods 1
    df_original['shift1_ask1'] = df_original['ASK1'].shift(periods=1)
    df_original['shift2_bid1'] = df_original['BID1'].shift(periods=2)   #shift bid1 by periods 1
    df_original['shift2_ask1'] = df_original['ASK1'].shift(periods=2)
    df_original['shift3_bid1'] = df_original['BID1'].shift(periods=3)   #shift bid1 by periods 1
    df_original['shift3_ask1'] = df_original['ASK1'].shift(periods=3)
    df_original['shift4_bid1'] = df_original['BID1'].shift(periods=4)   #shift bid1 by periods 1
    df_original['shift4_ask1'] = df_original['ASK1'].shift(periods=4)
    df_original['shift5_bid1'] = df_original['BID1'].shift(periods=5)   #shift bid1 by periods 1
    df_original['shift5_ask1'] = df_original['ASK1'].shift(periods=5)
    df_original['shift6_bid1'] = df_original['BID1'].shift(periods=6)   #shift bid1 by periods 1
    df_original['shift6_ask1'] = df_original['ASK1'].shift(periods=6)
    df_original['shift7_bid1'] = df_original['BID1'].shift(periods=7)   #shift bid1 by periods 1
    df_original['shift7_ask1'] = df_original['ASK1'].shift(periods=7)
    df_original['shift8_bid1'] = df_original['BID1'].shift(periods=8)   #shift bid1 by periods 1
    df_original['shift8_ask1'] = df_original['ASK1'].shift(periods=8)
    df_original['shift9_bid1'] = df_original['BID1'].shift(periods=9)   #shift bid1 by periods 1
    df_original['shift9_ask1'] = df_original['ASK1'].shift(periods=9)
    df_original['shift10_bid1'] = df_original['BID1'].shift(periods=10)   #shift bid1 by periods 1
    df_original['shift10_ask1'] = df_original['ASK1'].shift(periods=10)

    mask = (df_original['shift1_ask1'] - df_original['shift1_bid1']) > 0
    # Assign values based on the mask
    df_original.loc[mask, 'c1'] = np.where(
        (df_original.loc[mask, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask, 'LTP'] <= df_original.loc[mask, 'shift1_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask, 'c11'] = np.where(
        (df_original.loc[mask, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask, 'LTP'] > df_original.loc[mask, 'shift1_bid1']),1,0)
    
    mask1 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) > 0)
    # Assign values based on the mask
    df_original.loc[mask1, 'c2'] = np.where(
        (df_original.loc[mask1, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask1, 'LTP'] <= df_original.loc[mask1, 'shift2_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask1, 'c22'] = np.where(
        (df_original.loc[mask1, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask1, 'LTP'] > df_original.loc[mask1, 'shift2_bid1']),1,0)
    
    mask2 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) > 0)
    # Assign values based on the mask
    df_original.loc[mask2, 'c3'] = np.where(
        (df_original.loc[mask2, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask2, 'LTP'] <= df_original.loc[mask2, 'shift3_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask2, 'c33'] = np.where(
        (df_original.loc[mask2, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask2, 'LTP'] > df_original.loc[mask2, 'shift3_bid1']),1,0)
    
    mask3 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) > 0)
    # Assign values based on the mask
    df_original.loc[mask3, 'c4'] = np.where(
        (df_original.loc[mask3, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask3, 'LTP'] <= df_original.loc[mask3, 'shift4_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask3, 'c44'] = np.where(
        (df_original.loc[mask3, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask3, 'LTP'] > df_original.loc[mask3, 'shift4_bid1']),1,0)
    
    mask4 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) & ((df_original['shift5_ask1'] - df_original['shift5_bid1']) > 0)
    # Assign values based on the mask
    df_original.loc[mask4, 'c5'] = np.where(
        (df_original.loc[mask4, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask4, 'LTP'] <= df_original.loc[mask4, 'shift5_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask4, 'c55'] = np.where(
        (df_original.loc[mask4, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask4, 'LTP'] > df_original.loc[mask4, 'shift5_bid1']),1,0)
    
    mask5 = (
            ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
            ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
            ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) > 0)
    )
    # Assign values based on the mask
    df_original.loc[mask5, 'c6'] = np.where(
        (df_original.loc[mask5, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask5, 'LTP'] <= df_original.loc[mask5, 'shift6_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask5, 'c66'] = np.where(
        (df_original.loc[mask5, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask5, 'LTP'] > df_original.loc[mask5, 'shift6_bid1']),1,0)
    
    mask6 = (
            ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
            ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
            ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
            ((df_original['shift7_ask1'] - df_original['shift7_bid1']) > 0)
    )
    # Assign values based on the mask
    df_original.loc[mask6, 'c7'] = np.where(
        (df_original.loc[mask6, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask6, 'LTP'] <= df_original.loc[mask6, 'shift7_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask6, 'c77'] = np.where(
        (df_original.loc[mask6, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask6, 'LTP'] > df_original.loc[mask6, 'shift7_bid1']),1,0)
    
    mask7 = (
            ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
            ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
            ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
            ((df_original['shift7_ask1'] - df_original['shift7_bid1']) <= 0) & ((df_original['shift8_ask1'] - df_original['shift8_bid1']) > 0)
    )
    # Assign values based on the mask
    df_original.loc[mask7, 'c8'] = np.where(
        (df_original.loc[mask7, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask7, 'LTP'] <= df_original.loc[mask7, 'shift8_bid1']),-1,0)
    # Assign values based on the mask
    df_original.loc[mask7, 'c88'] = np.where(
        (df_original.loc[mask7, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask7, 'LTP'] > df_original.loc[mask7, 'shift8_bid1']),1,0)
    
    # df_original['signal'] = df_original['c1']+df_original['c11']+df_original['c2']+df_original['c22']+df_original['c3']+df_original['c33']+ df_original['c4']+df_original['c44']+df_original['c5']+df_original['c55']+df_original['c6']+df_original['c66']+ df_original['c7']+df_original['c77']+df_original['c8']+df_original['c88']
    columns_to_sum = [
        'c1', 'c11', 'c2', 'c22', 'c3', 'c33', 
        'c4', 'c44', 'c5', 'c55', 'c6', 'c66', 
        'c7', 'c77', 'c8', 'c88'
    ]
    df_original['signal'] = df_original[columns_to_sum].sum(axis=1, skipna=True)
    df_original=df_original[df_original['MESSAGETYPE']=='TRADE']
    df_original['signal'] = df_original['signal'].replace(0,np.nan)
    df_original['signal'] = df_original['signal'].ffill()
    df_original['signal'] = df_original['signal'].bfill()
    
    df_original['sig_cumm_sum']=df_original['signal'].cumsum()
    df_original['sig_cumm_sum_H'] = df_original['sig_cumm_sum'].expanding().max()
    df_original['sig_cumm_sum_L'] = df_original['sig_cumm_sum'].expanding().min()
    df_original['sig_cumm_sum_w.r.t_hl'] = (df_original['sig_cumm_sum_H'] - df_original['sig_cumm_sum']) / (df_original['sig_cumm_sum_H'] - df_original['sig_cumm_sum_L'])

    
    df_original['signal*LTQ'] = df_original['LTQ'].astype(int) * df_original['signal'].astype(int)
    df_original['cumm_sum']=df_original['signal*LTQ'].cumsum()
    df_original['cumm_sum_H'] = df_original['cumm_sum'].expanding().max()
    df_original['cumm_sum_L'] = df_original['cumm_sum'].expanding().min()
    df_original['cumm_sum_w.r.t_hl'] = (df_original['cumm_sum_H'] - df_original['cumm_sum']) / (df_original['cumm_sum_H'] - df_original['cumm_sum_L'])
    
    file_path1 = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
    save_path = os.path.join(file_path1, "processed_file" )
    # Create the save directory if it doesn't exist
    if not os.path.exists(save_path):
        os.makedirs(save_path)
    file_name = os.path.join(save_path, f"{date}_{stock_name}_.csv")
    df_original.to_csv(file_name, index=False)

F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024
04_oct_2024
BHARTIARTL
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_1.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_2.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_3.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_4.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_5.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_6.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_7.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_8.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_9.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_10.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_11.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_12.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_13.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_14.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_15.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_16.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_17.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_18.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_19.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_20.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_21.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_22.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_23.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_24.CSV
F:\mansukh\project-bhartiairtel_tbt_data_cash\04_oct_2024\BHARTIARTL_25.CSV

In [11]:
pd.set_option('display.max_columns', None)
# df_original.isnull().sum()
stock_name = csv_files_sorted['date'][0].split('_')[5].split('\\')[-1]
stock_name

'BHARTIARTL'

## volume interval

In [ ]:
import pandas as pd
import os

# Path to the directory containing CSV filesD:\stock_cash_tbt_data\processed_file
# file_path = r'D:\stock_cash_tbt_data\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_path = r'F:\mansukh\project-bhartiairtel_tbt_data_cash\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_name = file_path.split('\\')[-1].split('.')[0]
df = pd.read_csv(file_path, low_memory = False)
df.columns = df.columns.str.lower()
# Ensure the timestamp column is in datetime format
df['time'] = pd.to_datetime(df['timestamp']).dt.time

volume_interval = 20000

loop_count = round(((df['ltq'].sum()/volume_interval)/1)*1)
# print(loop_count)
for i in range(1,loop_count+2)[:]:

    df['ltq_cumsum'] = df['ltq'].cumsum()
    # Find the first index where the condition is True
    condition = df['ltq_cumsum'] > volume_interval*i
    if condition.any():
        idx = condition.idxmax()  # Index of the first True value
        # print(f"Index of the first match: {idx}")
        
        if df.loc[idx-1,'ltq'] != volume_interval*i:
            # Get the matched row
            matched_row = df.loc[idx]
            
            # Insert the duplicate row at idx + 1
            df = pd.concat(
                [df.iloc[:idx + 1], pd.DataFrame([matched_row]), df.iloc[idx + 1:]]
            ).reset_index(drop=True)
            
            df.loc[idx,'ltq'] = matched_row['ltq'] - (matched_row['ltq_cumsum'] - volume_interval*i)
            df.loc[idx+1,'ltq'] = matched_row['ltq_cumsum'] - volume_interval*i
            df.loc[idx,'vtt'] = df.loc[idx,'ltq'] + df.loc[idx-1,'vtt']
            df.loc[idx+1,'vtt'] = df.loc[idx+1,'ltq'] + df.loc[idx,'vtt']
    else:
        print(f"No row found where 'ltq_cumsum' > {volume_interval*i}.")

# Create a volume interval identifier
df['volume_id'] = ((df['ltq_cumsum'] - 1 )// volume_interval).astype(int) + 1

# Group by the volume interval and calculate OHLC
ohlc = df.groupby('volume_id').agg({
    'vtt' : ['first','last'],
    'time': ['first','last'],  # Start time of the interval
    'ltp': ['first', 'max', 'min', 'last'],  # OHLC for price
    'cumm_sum': ['first','max','min','last'],
    'sig_cumm_sum': ['first','max','min','last'],
    'cumm_sum_w.r.t_hl': ['first','last'],
    'sig_cumm_sum_w.r.t_hl': ['first','last'],
    'ltq': 'sum'  # Total volume in the interval
})

# # Flatten MultiIndex columns
# ohlc.columns = ['svtt','evtt','stime', 'etime','open', 'high', 'low', 'close','scum_sum','ecum_sum','ssig_cumm_sum','esig_cumm_sum', 'total_volume']
# Flatten the MultiIndex columns
ohlc.columns = ['_'.join(col).strip() for col in ohlc.columns]

ohlc.rename(columns={
                'vtt_first' : 's_vtt',
                'vtt_last' : 'e_vtt',
                'time_first' : 's_time',
                'time_last' : 'e_time',
                'ltp_first' : 'open',
                'ltp_max' : 'high',
                'ltp_min' : 'low',
                'ltp_last' : 'close',
                'cumm_sum_first' : 'o_cum_sum',
                'cumm_sum_max' : 'h_cum_sum',
                'cumm_sum_min' : 'l_cum_sum',
                'cumm_sum_last' : 'c_cum_sum',
                'sig_cumm_sum_first' : 'o_sig_cum_sum',
                'sig_cumm_sum_max' : 'h_sig_cum_sum',
                'sig_cumm_sum_min' : 'l_sig_cum_sum',
                'sig_cumm_sum_last' : 'c_sig_cum_sum',
                'cumm_sum_w.r.t_hl_first' : 's_cumm_sum_w.r.t_hl',
                'cumm_sum_w.r.t_hl_last' : 'e_cumm_sum_w.r.t_hl',
                'sig_cumm_sum_w.r.t_hl_first' : 's_sig_cumm_sum_w.r.t_hl',   
                'sig_cumm_sum_w.r.t_hl_last' : 'e_sig_cumm_sum_w.r.t_hl',               
                'ltq_sum' : 'total_volume'
            }, inplace=True)

ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f")
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f")

ohlc['net_vtt'] = ohlc['e_vtt'] - ohlc['s_vtt']
ohlc['net_time'] = ohlc['e_time'] - ohlc['s_time']
ohlc['net_cum_sum'] = ohlc['c_cum_sum'] - ohlc['o_cum_sum']
ohlc['net_sig_cum_sum'] = ohlc['c_sig_cum_sum'] - ohlc['o_sig_cum_sum']

# Convert net_time to total seconds
ohlc['net_time_seconds'] = ohlc['net_time'].dt.total_seconds()
ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f").dt.time
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f").dt.time
ohlc['%_change'] = ((ohlc['close'] - ohlc['open'])/ohlc['open'])*100

# Reset index for readability
ohlc.reset_index(inplace=True)

columns = ['total_volume','s_vtt', 'e_vtt','net_vtt', 's_time', 'e_time','net_time_seconds', 'open', 'high',
       'low', 'close','%_change', 'o_cum_sum', 'h_cum_sum', 'l_cum_sum', 'c_cum_sum','net_cum_sum',
       'o_sig_cum_sum', 'h_sig_cum_sum', 'l_sig_cum_sum', 'c_sig_cum_sum','net_sig_cum_sum',
       's_cumm_sum_w.r.t_hl', 'e_cumm_sum_w.r.t_hl', 's_sig_cumm_sum_w.r.t_hl',
       'e_sig_cumm_sum_w.r.t_hl'
    ]
ohlc = ohlc[columns]

display(ohlc)


# file_path1 = r'D:\stock_cash_tbt_data'
file_path1 = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
save_path = os.path.join(file_path1)
# Create the save directory if it doesn't exist
if not os.path.exists(save_path):
    os.makedirs(save_path)
file_name = os.path.join(save_path, f"{file_name}_.csv")
ohlc.to_csv(file_name, index=False)

333
No row found where 'ltq_cumsum' > 6680000.

,total_volume,s_vtt,e_vtt,net_vtt,s_time,e_time,net_time_seconds,open,high,low,...,net_cum_sum,o_sig_cum_sum,h_sig_cum_sum,l_sig_cum_sum,c_sig_cum_sum,net_sig_cum_sum,s_cumm_sum_w.r.t_hl,e_cumm_sum_w.r.t_hl,s_sig_cumm_sum_w.r.t_hl,e_sig_cumm_sum_w.r.t_hl
0,20000,45787,65726,19939,09:15:00.065156,09:15:11.357249,11.292093,1571.85,1577.95,1571.85,...,5548,1.0,172.0,1.0,121.0,120.0,0.000000,0.276757,0.000000,0.298246
1,20000,65759,85726,19967,09:15:11.357249,09:15:24.987675,13.630426,1574.25,1577.40,1573.85,...,3982,121.0,241.0,68.0,240.0,119.0,0.276757,0.030519,0.298246,0.004167
2,20000,85995,105726,19731,09:15:24.987675,09:15:49.807267,24.819592,1575.85,1576.70,1575.00,...,-3235,240.0,297.0,235.0,297.0,57.0,0.030519,0.359613,0.004167,0.000000
3,20000,105926,125726,19800,09:15:49.807267,09:16:08.284926,18.477659,1575.70,1577.40,1574.15,...,2024,297.0,513.0,297.0,390.0,93.0,0.359613,0.385053,0.000000,0.240234
4,20000,125802,145726,19924,09:16:08.284926,09:16:26.496682,18.211756,1574.45,1576.60,1574.45,...,7175,390.0,533.0,390.0,523.0,133.0,0.385053,0.134172,0.240234,0.018797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,20000,6625944,6645726,19782,15:25:16.457897,15:25:59.529123,43.071226,1562.90,1565.10,1562.90,...,4708,57514.0,57593.0,57514.0,57582.0,68.0,0.000000,0.000342,0.000000,0.000191
330,20000,6645734,6665726,19992,15:25:59.529123,15:27:07.411448,67.882325,1565.00,1565.10,1562.90,...,54,57582.0,57613.0,57560.0,57613.0,31.0,0.000342,0.000303,0.000191,0.000000
331,20000,6666896,6685726,18830,15:27:07.411448,15:27:37.027753,29.616305,1563.30,1564.90,1563.00,...,11196,57613.0,57696.0,57613.0,57674.0,61.0,0.000303,0.001188,0.000000,0.000381
332,20000,6685792,6705726,19934,15:27:37.027753,15:29:04.650787,87.623034,1563.55,1564.95,1562.70,...,-1379,57674.0,57791.0,57674.0,57790.0,116.0,0.001188,0.002173,0.000381,0.000017
333,5629,6706065,6711355,5290,15:29:04.650787,15:29:59.136369,54.485582,1563.50,1565.00,1561.50,...,-658,57790.0,57811.0,57784.0,57811.0,21.0,0.002173,0.002643,0.000017,0.000000

In [190]:
file_path.split('\\')[-1].split('.')[0]

'04_oct_2024_BHARTIARTL_'

In [172]:
ohlc1 = ohlc.copy(deep=True)

In [182]:
ohlc.columns

Index(['volume_id', 's_vtt', 'e_vtt', 's_time', 'e_time', 'open', 'high',
       'low', 'close', 'o_cum_sum', 'h_cum_sum', 'l_cum_sum', 'c_cum_sum',
       'o_sig_cum_sum', 'h_sig_cum_sum', 'l_sig_cum_sum', 'c_sig_cum_sum',
       's_cumm_sum_w.r.t_hl', 'e_cumm_sum_w.r.t_hl', 's_sig_cumm_sum_w.r.t_hl',
       'e_sig_cumm_sum_w.r.t_hl', 'total_volume', 'net_vtt', 'net_time',
       'net_cum_sum', 'net_sig_cum_sum', 'net_time_seconds', '%_change'],
      dtype='object')

In [178]:
ohlc1['e_time'] = pd.to_datetime(ohlc1['e_time'],format="%H:%M:%S.%f")
ohlc1['s_time'] = pd.to_datetime(ohlc1['s_time'],format="%H:%M:%S.%f")
ohlc1['net_time'] = ohlc1['e_time'] - ohlc1['s_time']
# Convert net_time to total seconds
ohlc1['net_time_seconds'] = ohlc1['net_time'].dt.total_seconds()
ohlc1['e_time'] = pd.to_datetime(ohlc1['e_time'],format="%H:%M:%S.%f").dt.time
ohlc1['s_time'] = pd.to_datetime(ohlc1['s_time'],format="%H:%M:%S.%f").dt.time
ohlc1['%_change'] = ((ohlc1['close'] - ohlc1['open'])/ohlc1['open'])*100
ohlc1

,volume_id,s_vtt,e_vtt,s_time,e_time,open,high,low,close,o_cum_sum,h_cum_sum,l_cum_sum,c_cum_sum,o_sig_cum_sum,h_sig_cum_sum,l_sig_cum_sum,c_sig_cum_sum,total_volume,net_vtt,net_time,net_cum_sum,net_sig_cum_sum,net_time_seconds,%_change
0,1,45787,65726,09:15:00.065156,09:15:11.357249,1571.85,1577.95,1571.85,1574.25,61,7732,61,5609,1.0,172.0,1.0,121.0,20000,19939,0 days 00:00:11.292093,5548,120.0,11.292093,0.152686
1,2,65759,85726,09:15:11.357249,09:15:24.987675,1574.25,1577.40,1573.85,1575.85,5609,9891,2743,9591,121.0,241.0,68.0,240.0,20000,19967,0 days 00:00:13.630426,3982,119.0,13.630426,0.101636
2,3,85995,105726,09:15:24.987675,09:15:49.807267,1575.85,1576.70,1575.00,1575.70,9591,9591,4054,6356,240.0,297.0,235.0,297.0,20000,19731,0 days 00:00:24.819592,-3235,57.0,24.819592,-0.009519
3,4,105926,125726,09:15:49.807267,09:16:08.284926,1575.70,1577.40,1574.15,1574.45,6356,13589,6356,8380,297.0,513.0,297.0,390.0,20000,19800,0 days 00:00:18.477659,2024,93.0,18.477659,-0.079330
4,5,125802,145726,09:16:08.284926,09:16:26.496682,1574.45,1576.60,1574.45,1575.85,8380,17956,8380,15555,390.0,533.0,390.0,523.0,20000,19924,0 days 00:00:18.211756,7175,133.0,18.211756,0.088920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,330,6625944,6645726,15:25:16.457897,15:25:59.529123,1562.90,1565.10,1562.90,1565.00,1382678,1387860,1382678,1387386,57514.0,57593.0,57514.0,57582.0,20000,19782,0 days 00:00:43.071226,4708,68.0,43.071226,0.134366
330,331,6645734,6665726,15:25:59.529123,15:27:07.411448,1565.00,1565.10,1562.90,1563.30,1387386,1387452,1382176,1387440,57582.0,57613.0,57560.0,57613.0,20000,19992,0 days 00:01:07.882325,54,31.0,67.882325,-0.108626
331,332,6666896,6685726,15:27:07.411448,15:27:37.027753,1563.30,1564.90,1563.00,1563.55,1387440,1400300,1387440,1398636,57613.0,57696.0,57613.0,57674.0,20000,18830,0 days 00:00:29.616305,11196,61.0,29.616305,0.015992
332,333,6685792,6705726,15:27:37.027753,15:29:04.650787,1563.55,1564.95,1562.70,1563.50,1398636,1398916,1393557,1397257,57674.0,57791.0,57674.0,57790.0,20000,19934,0 days 00:01:27.623034,-1379,116.0,87.623034,-0.003198
333,334,6706065,6711355,15:29:04.650787,15:29:59.136369,1563.50,1565.00,1561.50,1564.95,1397257,1397257,1395747,1396599,57790.0,57811.0,57784.0,57811.0,5629,5290,0 days 00:00:54.485582,-658,21.0,54.485582,0.092741

## trade interval

In [193]:
import pandas as pd
import os

# Path to the directory containing CSV filesD:\stock_cash_tbt_data\processed_file
# file_path = r'D:\stock_cash_tbt_data\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_path = r'F:\mansukh\project-bhartiairtel_tbt_data_cash\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_name = file_path.split('\\')[-1].split('.')[0]
df = pd.read_csv(file_path, low_memory = False)
df.columns = df.columns.str.lower()
# Ensure the timestamp column is in datetime format
df['time'] = pd.to_datetime(df['timestamp']).dt.time

trade_interval = 500
# Create a trade window ID column: Divide the index by 500 and floor the result
df['trade_window'] = (df.index // trade_interval) + 1

# Group by the trade window and calculate OHLC
ohlc = df.groupby('trade_window').agg({
    'vtt' : ['first','last'],
    'time': ['first','last'],  # Start time of the interval
    'ltp': ['first', 'max', 'min', 'last'],  # OHLC for price
    'cumm_sum': ['first','max','min','last'],
    'sig_cumm_sum': ['first','max','min','last'],
    'cumm_sum_w.r.t_hl': ['first','last'],
    'sig_cumm_sum_w.r.t_hl': ['first','last'],
    'ltq': 'sum'  # Total volume in the interval
})

# Flatten the MultiIndex columns
ohlc.columns = ['_'.join(col).strip() for col in ohlc.columns]

ohlc.rename(columns={
                'vtt_first' : 's_vtt',
                'vtt_last' : 'e_vtt',
                'time_first' : 's_time',
                'time_last' : 'e_time',
                'ltp_first' : 'open',
                'ltp_max' : 'high',
                'ltp_min' : 'low',
                'ltp_last' : 'close',
                'cumm_sum_first' : 'o_cum_sum',
                'cumm_sum_max' : 'h_cum_sum',
                'cumm_sum_min' : 'l_cum_sum',
                'cumm_sum_last' : 'c_cum_sum',
                'sig_cumm_sum_first' : 'o_sig_cum_sum',
                'sig_cumm_sum_max' : 'h_sig_cum_sum',
                'sig_cumm_sum_min' : 'l_sig_cum_sum',
                'sig_cumm_sum_last' : 'c_sig_cum_sum',
                'cumm_sum_w.r.t_hl_first' : 's_cumm_sum_w.r.t_hl',
                'cumm_sum_w.r.t_hl_last' : 'e_cumm_sum_w.r.t_hl',
                'sig_cumm_sum_w.r.t_hl_first' : 's_sig_cumm_sum_w.r.t_hl',   
                'sig_cumm_sum_w.r.t_hl_last' : 'e_sig_cumm_sum_w.r.t_hl',               
                'ltq_sum' : 'total_volume'
            }, inplace=True)

ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f")
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f")

ohlc['net_vtt'] = ohlc['e_vtt'] - ohlc['s_vtt']
ohlc['net_time'] = ohlc['e_time'] - ohlc['s_time']
ohlc['net_cum_sum'] = ohlc['c_cum_sum'] - ohlc['o_cum_sum']
ohlc['net_sig_cum_sum'] = ohlc['c_sig_cum_sum'] - ohlc['o_sig_cum_sum']

# Convert net_time to total seconds
ohlc['net_time_seconds'] = ohlc['net_time'].dt.total_seconds()
ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f").dt.time
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f").dt.time
ohlc['%_change'] = ((ohlc['close'] - ohlc['open'])/ohlc['open'])*100


# Reset the index for better readability
ohlc.reset_index(inplace=True)
columns = ['trade_window','s_vtt', 'e_vtt','net_vtt', 's_time', 'e_time','net_time_seconds', 'open', 'high',
       'low', 'close','%_change', 'o_cum_sum', 'h_cum_sum', 'l_cum_sum', 'c_cum_sum','net_cum_sum',
       'o_sig_cum_sum', 'h_sig_cum_sum', 'l_sig_cum_sum', 'c_sig_cum_sum','net_sig_cum_sum',
       's_cumm_sum_w.r.t_hl', 'e_cumm_sum_w.r.t_hl', 's_sig_cumm_sum_w.r.t_hl',
       'e_sig_cumm_sum_w.r.t_hl', 'total_volume',
    ]
ohlc = ohlc[columns]

display(ohlc)

# file_path1 = r'D:\stock_cash_tbt_data'
file_path1 = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
save_path = os.path.join(file_path1)
# Create the save directory if it doesn't exist
if not os.path.exists(save_path):
    os.makedirs(save_path)
file_name = os.path.join(save_path, f"_{file_name}.csv")
ohlc.to_csv(file_name, index=False)

,trade_window,s_vtt,e_vtt,net_vtt,s_time,e_time,net_time_seconds,open,high,low,close,%_change,o_cum_sum,h_cum_sum,l_cum_sum,c_cum_sum,net_cum_sum,o_sig_cum_sum,h_sig_cum_sum,l_sig_cum_sum,c_sig_cum_sum,net_sig_cum_sum,s_cumm_sum_w.r.t_hl,e_cumm_sum_w.r.t_hl,s_sig_cumm_sum_w.r.t_hl,e_sig_cumm_sum_w.r.t_hl,total_volume
0,1,45787,67555,21768,09:15:00.065156,09:15:11.815065,11.749909,1571.85,1577.95,1571.85,1573.95,0.133601,61,7732,61,3855,3794,1.0,172.0,1.0,74.0,73.0,0.000000,0.505410,0.000000,0.573099,21829
1,2,67558,92798,25240,09:15:11.815065,09:15:31.914285,20.099220,1573.95,1577.40,1573.85,1575.95,0.127069,3852,9891,2743,7458,3606,73.0,268.0,68.0,244.0,171.0,0.505801,0.247508,0.578947,0.089888,25243
2,3,92803,114160,21357,09:15:31.914285,09:15:56.352892,24.438607,1575.95,1575.95,1574.95,1575.70,-0.015863,7463,11996,4054,11726,4263,245.0,454.0,236.0,452.0,207.0,0.246999,0.022623,0.086142,0.004415,21362
3,4,114298,136836,22538,09:15:56.490778,09:16:22.055562,25.564784,1575.95,1577.40,1574.15,1575.70,-0.015863,11864,13589,8380,13540,1676,453.0,513.0,390.0,468.0,15.0,0.011060,0.003622,0.002208,0.087891,22676
4,5,136852,160477,23625,09:16:22.055562,09:16:48.882360,26.826798,1575.70,1576.85,1574.85,1575.85,0.009520,13556,20023,13524,19323,5767,469.0,658.0,469.0,658.0,189.0,0.002439,0.035067,0.085938,0.000000,23641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,440,6591969,6622068,30099,15:24:29.567467,15:25:09.047934,39.480467,1562.35,1562.70,1560.60,1561.70,-0.041604,1366165,1379966,1366079,1379966,13801,57343.0,57468.0,57338.0,57468.0,125.0,0.000463,0.000000,0.000958,0.000000,30100
440,441,6622233,6648752,26519,15:25:09.047959,15:26:05.206918,56.158959,1561.70,1565.10,1561.70,1563.95,0.144074,1380131,1387860,1380131,1385644,5513,57469.0,57593.0,57469.0,57566.0,97.0,0.000000,0.001597,0.000000,0.000469,26684
441,442,6648803,6682197,33394,15:26:05.206918,15:27:24.365574,79.158656,1563.95,1564.75,1562.90,1564.55,0.038364,1385593,1399901,1382176,1399901,14308,57565.0,57684.0,57560.0,57684.0,119.0,0.001634,0.000000,0.000486,0.000000,33445
442,443,6682232,6704067,21835,15:27:24.365574,15:28:57.624370,93.258796,1564.55,1564.95,1562.70,1564.35,-0.012783,1399936,1400300,1393557,1396255,-3681,57685.0,57774.0,57671.0,57774.0,89.0,0.000000,0.002889,0.000000,0.000000,21870
443,444,6704145,6711355,7210,15:28:57.666381,15:29:59.136369,61.469988,1564.40,1565.00,1561.50,1564.95,0.035157,1396333,1397652,1395747,1396599,266,57775.0,57811.0,57775.0,57811.0,36.0,0.002833,0.002643,0.000000,0.000000,7288

## time interval

In [204]:
import pandas as pd
import os

# Path to the directory containing CSV filesD:\stock_cash_tbt_data\processed_file
# file_path = r'D:\stock_cash_tbt_data\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_path = r'F:\mansukh\project-bhartiairtel_tbt_data_cash\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_name = file_path.split('\\')[-1].split('.')[0]
df = pd.read_csv(file_path, low_memory = False)
df.columns = df.columns.str.lower()
# Ensure the timestamp column is in datetime format
df['time'] = pd.to_datetime(df['timestamp'])

# Set the timestamp as the index
df.set_index('time', inplace=True)


# Resample the data into 30-second windows and calculate OHLC
ohlc = df.resample('30s').agg({
    'vtt' : ['first','last'],
    'timestamp': ['first','last'],  # Start time of the interval
    'ltp': ['first', 'max', 'min', 'last'],  # OHLC for price
    'cumm_sum': ['first','max','min','last'],
    'sig_cumm_sum': ['first','max','min','last'],
    'cumm_sum_w.r.t_hl': ['first','last'],
    'sig_cumm_sum_w.r.t_hl': ['first','last'],
    'ltq': 'sum'  # Total volume in the interval
})

# Flatten the MultiIndex columns
ohlc.columns = ['_'.join(col).strip() for col in ohlc.columns]

ohlc.rename(columns={
                'vtt_first' : 's_vtt',
                'vtt_last' : 'e_vtt',
                'timestamp_first' : 's_time',
                'timestamp_last' : 'e_time',
                'ltp_first' : 'open',
                'ltp_max' : 'high',
                'ltp_min' : 'low',
                'ltp_last' : 'close',
                'cumm_sum_first' : 'o_cum_sum',
                'cumm_sum_max' : 'h_cum_sum',
                'cumm_sum_min' : 'l_cum_sum',
                'cumm_sum_last' : 'c_cum_sum',
                'sig_cumm_sum_first' : 'o_sig_cum_sum',
                'sig_cumm_sum_max' : 'h_sig_cum_sum',
                'sig_cumm_sum_min' : 'l_sig_cum_sum',
                'sig_cumm_sum_last' : 'c_sig_cum_sum',
                'cumm_sum_w.r.t_hl_first' : 's_cumm_sum_w.r.t_hl',
                'cumm_sum_w.r.t_hl_last' : 'e_cumm_sum_w.r.t_hl',
                'sig_cumm_sum_w.r.t_hl_first' : 's_sig_cumm_sum_w.r.t_hl',   
                'sig_cumm_sum_w.r.t_hl_last' : 'e_sig_cumm_sum_w.r.t_hl',               
                'ltq_sum' : 'total_volume'
            }, inplace=True)

ohlc['e_time'] = pd.to_datetime(ohlc['e_time'])
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'])

ohlc['net_vtt'] = ohlc['e_vtt'] - ohlc['s_vtt']
ohlc['net_time'] = ohlc['e_time'] - ohlc['s_time']
ohlc['net_cum_sum'] = ohlc['c_cum_sum'] - ohlc['o_cum_sum']
ohlc['net_sig_cum_sum'] = ohlc['c_sig_cum_sum'] - ohlc['o_sig_cum_sum']

# Convert net_time to total seconds
ohlc['net_time_seconds'] = ohlc['net_time'].dt.total_seconds()
ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f").dt.time
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f").dt.time
ohlc['%_change'] = ((ohlc['close'] - ohlc['open'])/ohlc['open'])*100

# Reset index for readability
ohlc.reset_index(inplace=True)

columns = ['s_vtt', 'e_vtt','net_vtt', 's_time', 'e_time','net_time_seconds', 'open', 'high',
       'low', 'close','%_change', 'o_cum_sum', 'h_cum_sum', 'l_cum_sum', 'c_cum_sum','net_cum_sum',
       'o_sig_cum_sum', 'h_sig_cum_sum', 'l_sig_cum_sum', 'c_sig_cum_sum','net_sig_cum_sum',
       's_cumm_sum_w.r.t_hl', 'e_cumm_sum_w.r.t_hl', 's_sig_cumm_sum_w.r.t_hl',
       'e_sig_cumm_sum_w.r.t_hl', 'total_volume',
    ]
ohlc = ohlc[columns]

display(ohlc)

# file_path1 = r'D:\stock_cash_tbt_data'
file_path1 = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
save_path = os.path.join(file_path1)
# Create the save directory if it doesn't exist
if not os.path.exists(save_path):
    os.makedirs(save_path)
file_name = os.path.join(save_path, f"{file_name}_.csv")
ohlc.to_csv(file_name, index=False)

,s_vtt,e_vtt,net_vtt,s_time,e_time,net_time_seconds,open,high,low,close,%_change,o_cum_sum,h_cum_sum,l_cum_sum,c_cum_sum,net_cum_sum,o_sig_cum_sum,h_sig_cum_sum,l_sig_cum_sum,c_sig_cum_sum,net_sig_cum_sum,s_cumm_sum_w.r.t_hl,e_cumm_sum_w.r.t_hl,s_sig_cumm_sum_w.r.t_hl,e_sig_cumm_sum_w.r.t_hl,total_volume
0,45787,91113,45326,09:15:00.065156,09:15:29.930502,29.865345,1571.85,1577.95,1571.85,1576.40,0.289468,61,9891,61,8929,8868,1.0,268.0,1.0,268.0,267.0,0.000000,0.097864,0.000000,0.000000,45387
1,91128,119070,27942,09:15:30.109906,09:15:59.736171,29.626265,1576.30,1577.40,1574.95,1576.65,0.022204,8914,13589,4054,12922,4008,267.0,513.0,236.0,505.0,238.0,0.099390,0.049305,0.003745,0.015625,27957
2,119105,149780,30675,09:16:00.120431,09:16:28.660747,28.540317,1576.65,1576.65,1574.15,1575.00,-0.104652,12887,17956,8380,14116,1229,504.0,533.0,390.0,498.0,-6.0,0.051892,0.214585,0.017578,0.065789,30710
3,149786,168014,18228,09:16:30.171960,09:16:59.908005,29.736045,1575.10,1576.85,1575.00,1576.35,0.079360,14110,22461,13936,20518,6408,497.0,779.0,494.0,724.0,227.0,0.214920,0.086741,0.067669,0.070694,18234
4,168017,203267,35250,09:17:00.395452,09:17:29.966864,29.571413,1576.40,1579.40,1576.00,1577.15,0.047577,20521,21883,13581,19847,-674,725.0,820.0,671.0,737.0,12.0,0.086607,0.116696,0.069409,0.101343,35253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,6683821,6692304,8483,15:27:30.023030,15:27:59.470895,29.447866,1564.60,1564.95,1563.20,1564.05,-0.035153,1399571,1399956,1395921,1396922,-2649,57677.0,57705.0,57671.0,57694.0,17.0,0.000521,0.002412,0.000329,0.000191,8484
746,6692376,6697961,5585,15:28:00.107862,15:28:29.709368,29.601506,1564.25,1564.25,1563.05,1564.10,-0.009589,1396994,1396994,1393557,1393925,-3069,57695.0,57716.0,57684.0,57716.0,21.0,0.002361,0.004553,0.000173,0.000000,5657
747,6697969,6705267,7298,15:28:30.104205,15:28:59.465991,29.361786,1563.95,1564.90,1562.70,1563.25,-0.044758,1393933,1397452,1393933,1397451,3518,57717.0,57782.0,57717.0,57781.0,64.0,0.004547,0.002035,0.000000,0.000017,7306
748,6705269,6708117,2848,15:29:00.000376,15:29:29.562356,29.561980,1564.20,1564.25,1562.80,1563.85,-0.022376,1397453,1397652,1396115,1396529,-924,57782.0,57791.0,57781.0,57791.0,9.0,0.002033,0.002693,0.000000,0.000000,2850
749,6708118,6711355,3237,15:29:30.000650,15:29:59.136369,29.135718,1562.80,1565.00,1561.50,1564.95,0.137574,1396528,1396658,1395747,1396599,71,57790.0,57811.0,57784.0,57811.0,21.0,0.002694,0.002643,0.000017,0.000000,3238

## % window

In [223]:
import pandas as pd
import os

# Path to the directory containing CSV filesD:\stock_cash_tbt_data\processed_file
# file_path = r'D:\stock_cash_tbt_data\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_path = r'F:\mansukh\project-bhartiairtel_tbt_data_cash\processed_file\04_oct_2024_BHARTIARTL_.csv'
file_name = file_path.split('\\')[-1].split('.')[0]
df = pd.read_csv(file_path, low_memory = False)
df.columns = df.columns.str.lower()
# Ensure the timestamp column is in datetime format
df['time'] = pd.to_datetime(df['timestamp']).dt.time

# Parameters
threshold = 0.005  # 0.5% price change

# Initialize variables
windows = []
start_idx = 0
current_high = df.loc[0, 'ltp']
current_low = df.loc[0, 'ltp']

# Iterate through the DataFrame
for i in range(1, len(df)):
    current_price = df.loc[i, 'ltp']
    
    # Update the high and low
    current_high = max(current_high, current_price)
    current_low = min(current_low, current_price)
    
    # Calculate the range
    range_percentage = (current_high - current_low) / current_low * 100
    
    # Check if range exceeds 0.5%
    if range_percentage >= 0.5: #or (current_price - df.loc[start_idx, 'ltp']) / df.loc[start_idx, 'ltp'] * 100 >= 0.5:
        # Close the current window
        window_data = df.iloc[start_idx:i+1]
        windows.append({
            's_time': window_data['time'].iloc[0],
            'e_time': window_data['time'].iloc[-1],
            's_vtt': window_data['vtt'].iloc[0],
            'e_vtt': window_data['vtt'].iloc[-1],
            'open': window_data['ltp'].iloc[0],
            'high': window_data['ltp'].max(),
            'low': window_data['ltp'].min(),
            'close': window_data['ltp'].iloc[-1],
            'o_cum_sum': window_data['cumm_sum'].iloc[0],
            'h_cum_sum': window_data['cumm_sum'].max(),
            'l_cum_sum': window_data['cumm_sum'].min(),
            'c_cum_sum': window_data['cumm_sum'].iloc[-1],
            'o_sig_cum_sum': window_data['sig_cumm_sum'].iloc[0],
            'h_sig_cum_sum': window_data['sig_cumm_sum'].max(),
            'l_sig_cum_sum': window_data['sig_cumm_sum'].min(),
            'c_sig_cum_sum': window_data['sig_cumm_sum'].iloc[-1],
            's_cumm_sum_w.r.t_hl': window_data['cumm_sum_w.r.t_hl'].iloc[0],
            'e_cumm_sum_w.r.t_hl': window_data['cumm_sum_w.r.t_hl'].iloc[-1],
            's_sig_cumm_sum_w.r.t_hl': window_data['sig_cumm_sum_w.r.t_hl'].iloc[0],
            'e_sig_cumm_sum_w.r.t_hl': window_data['sig_cumm_sum_w.r.t_hl'].iloc[-1],
            'total_volume': window_data['ltq'].sum(),
            
        })
        
        # Reset for the next window
        start_idx = i
        current_high = df.loc[i, 'ltp']
        current_low = df.loc[i, 'ltp']

# Convert results to a DataFrame
ohlc = pd.DataFrame(windows)
ohlc['%_change_window'] = ((ohlc['high'] - ohlc['low'])/ohlc['low'])*100
ohlc['%_change'] = ((ohlc['close'] - ohlc['open'])/ohlc['open'])*100
ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f")
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f")
ohlc['net_time'] = ohlc['e_time'] - ohlc['s_time']
# Convert net_time to total seconds
ohlc['net_time_seconds'] = ohlc['net_time'].dt.total_seconds()
ohlc['e_time'] = pd.to_datetime(ohlc['e_time'],format="%H:%M:%S.%f").dt.time
ohlc['s_time'] = pd.to_datetime(ohlc['s_time'],format="%H:%M:%S.%f").dt.time
ohlc['net_vtt'] = ohlc['e_vtt'] - ohlc['s_vtt']
ohlc['net_cum_sum'] = ohlc['c_cum_sum'] - ohlc['o_cum_sum']
ohlc['net_sig_cum_sum'] = ohlc['c_sig_cum_sum'] - ohlc['o_sig_cum_sum']

# Reset index for readability
ohlc.reset_index(inplace=True)

columns = ['%_change_window','s_vtt', 'e_vtt','net_vtt', 's_time', 'e_time','net_time_seconds', 'open', 'high',
       'low', 'close','%_change', 'o_cum_sum', 'h_cum_sum', 'l_cum_sum', 'c_cum_sum','net_cum_sum',
       'o_sig_cum_sum', 'h_sig_cum_sum', 'l_sig_cum_sum', 'c_sig_cum_sum','net_sig_cum_sum',
       's_cumm_sum_w.r.t_hl', 'e_cumm_sum_w.r.t_hl', 's_sig_cumm_sum_w.r.t_hl',
       'e_sig_cumm_sum_w.r.t_hl', 'total_volume',
    ]
ohlc = ohlc[columns]

display(ohlc)

# file_path1 = r'D:\stock_cash_tbt_data'
file_path1 = r'F:\mansukh\project-bhartiairtel_tbt_data_cash'
save_path = os.path.join(file_path1)
# Create the save directory if it doesn't exist
if not os.path.exists(save_path):
    os.makedirs(save_path)
file_name = os.path.join(save_path, f"{file_name}_.csv")
ohlc.to_csv(file_name, index=False)

,%_change_window,s_vtt,e_vtt,net_vtt,s_time,e_time,net_time_seconds,open,high,low,close,%_change,o_cum_sum,h_cum_sum,l_cum_sum,c_cum_sum,net_cum_sum,o_sig_cum_sum,h_sig_cum_sum,l_sig_cum_sum,c_sig_cum_sum,net_sig_cum_sum,s_cumm_sum_w.r.t_hl,e_cumm_sum_w.r.t_hl,s_sig_cumm_sum_w.r.t_hl,e_sig_cumm_sum_w.r.t_hl,total_volume
0,0.509100,45787,345479,299692,09:15:00.065156,09:20:58.152056,358.086900,1571.85,1579.40,1571.40,1571.40,-0.028629,61,30445,61,26727,26666,1.0,1674.0,1.0,1645.0,1644.0,NaN,0.122367,NaN,0.017334,299753
1,0.500462,345479,609827,264348,09:20:58.152056,09:34:43.007378,824.855322,1571.40,1576.40,1568.55,1576.40,0.318188,26727,81717,9406,81313,54586,1645.0,5029.0,1573.0,5029.0,3384.0,0.122367,0.004948,0.017334,0.000000,264350
2,0.502832,609827,724238,114411,09:34:43.007378,09:41:25.170841,402.163463,1576.40,1579.00,1571.10,1571.10,-0.336209,81313,107831,80115,101196,19883,5029.0,5953.0,4972.0,5783.0,754.0,0.004948,0.061566,0.000000,0.028562,114416
3,0.501277,724238,874746,150508,09:41:25.170841,09:56:04.147084,878.976243,1571.10,1573.85,1566.00,1573.85,0.175037,101196,129798,91553,129798,28602,5783.0,7023.0,5676.0,7022.0,1239.0,0.061566,0.000000,0.028562,0.000142,150509
4,0.505388,874746,980848,106102,09:56:04.147084,10:03:05.582829,421.435745,1573.85,1581.00,1573.05,1581.00,0.454300,129798,186514,129331,186514,56716,7022.0,7166.0,6907.0,7166.0,144.0,0.000000,0.000000,0.000142,0.000000,106221
5,0.509349,980848,1116811,135963,10:03:05.582829,10:14:57.115559,711.532730,1581.00,1588.50,1580.45,1580.45,-0.034788,186514,204548,186436,189505,2991,7166.0,7443.0,6456.0,6456.0,-710.0,0.000000,0.073565,0.000000,0.132626,135964
6,0.507324,1116811,1167981,51170,10:14:57.115559,10:20:35.140750,338.025191,1580.45,1584.90,1576.90,1584.90,0.281565,189505,201565,188271,201027,11522,6456.0,6653.0,6184.0,6653.0,197.0,0.073565,0.017219,0.132626,0.106154,51222
7,0.500317,1167981,1231406,63425,10:20:35.140750,10:30:57.988011,622.847261,1584.90,1586.90,1579.00,1579.00,-0.372263,201027,223330,201003,222480,21453,6653.0,6823.0,6560.0,6560.0,-93.0,0.017219,0.003807,0.106154,0.118651,63450
8,0.505677,1231406,1277243,45837,10:30:57.988011,10:33:43.126360,165.138349,1579.00,1580.10,1572.15,1572.15,-0.433819,222480,226361,217299,217797,-4683,6560.0,6651.0,5959.0,5959.0,-601.0,0.003807,0.037844,0.118651,0.199409,45840
9,0.501117,1277243,1422534,145291,10:33:43.126360,10:38:24.595575,281.469215,1572.15,1574.35,1566.50,1566.50,-0.359380,217797,230533,215091,230372,12575,5959.0,5965.0,4843.0,4857.0,-1102.0,0.037844,0.000699,0.199409,0.347487,145321
10,0.502593,1422534,1959256,536722,10:38:24.595575,11:19:32.522864,2467.927289,1566.50,1569.75,1561.90,1561.90,-0.293648,230372,241975,222164,224574,-5798,4857.0,8583.0,4239.0,8373.0,3516.0,0.000699,0.071931,0.347487,0.024470,536734
11,0.502915,1959256,2271620,312364,11:19:32.522864,12:01:24.865136,2512.342272,1561.90,1568.75,1560.90,1560.90,-0.064025,224574,226380,200932,200996,-23578,8373.0,10975.0,8343.0,10638.0,2265.0,0.071931,0.169395,0.024470,0.030709,312365
12,0.506573,2271620,3279598,1007978,12:01:24.865136,13:32:05.764718,5440.899582,1560.90,1567.40,1559.50,1567.40,0.416426,200996,409920,189324,409920,208924,10638.0,34950.0,10253.0,34950.0,24312.0,0.169395,0.000000,0.030709,0.000000,1007980
13,0.504599,3279598,3523959,244361,13:32:05.764718,13:56:53.302739,1487.538021,1567.40,1573.50,1565.60,1573.50,0.389180,409920,520705,409920,520705,110785,34950.0,41302.0,34950.0,41302.0,6352.0,0.000000,0.000000,0.000000,0.000000,244643
14,0.500430,3523959,3720029,196070,13:56:53.302739,14:12:51.850705,958.547966,1573.50,1576.50,1568.65,1568.65,-0.308230,520705,598234,520705,589603,68898,41302.0,45048.0,41302.0,44920.0,3618.0,0.000000,0.014429,0.000000,0.002841,196071
15,0.505357,3720029,3804845,84816,14:12:51.850705,14:13:39.987504,48.136799,1568.65,1571.15,1563.25,1563.25,-0.344245,589603,589693,564998,565755,-23848,44920.0,44929.0,44066.0,44085.0,-835.0,0.014429,0.054297,0.002841,0.021378,84821
16,0.503044,3804845,3895845,91000,14:13:39.987504,14:14:35.184717,55.197213,1563.25,1568.35,1560.50,1568.35,0.326243,565755,566217,548541,548899,-16856,44085.0,44104.0,43379.0,43389.0,-696.0,0.054297,0.082476,0.021378,0.036828,91015
17,0.508393,3895845,3988463,92618,14:14:35.184717,14:18:07.887832,212.703115,1568.35,1571.70,1563.75,1563.75,-0.293302,548899,549262,527911,528013,-20886,43389.0,43594.0,43389.0,43419.0,30.0,0.082476,0.117392,0.036828,0.036162,92669
18,0.508507,3988463,4128486,140023,14:18:07.887832,14:25:28.810732,440.922900,1563.75,1571.35,1563.40,1571.35,0.486011,528013,532568,520794,532052,4039,43419.0,44655.0,43385.0,44655.0,1236.0,0.117392,0.110640,0.036162,0.008724,140026
19,0.500781,4128486,4375754,247268,14:25:28.810732,14:38:58.492808,809.682076,1571.35,1575.40,1567.55,1567.55,-0.241830,532052,577621,531205,570296,38244,44655.0,46715.0,44638.0,46518.0,1863.0,0.110640,0.046706,0.008724,0.004217,247283
20,0.503076,4375754,5409554,1033800,14:38:58.492808,15:00:07.898988,1269.406180,1567.55,1568.25,1560.40,1560.40,-0.456126,570296,866940,563347,861458,291162,46518.0,51776.0,46518.0,51772.0,5254.0,0.046706,0.006324,0.004217,0.000077,1033801
21,0.500979,5409554,6527657,1118103,15:00:07.898988,15:21:46.596495,1298.697507,1560.40,1564.75,1556.95,1564.75,0.278775,861458,1345179,843853,1345179,483721,51772.0,57240.0,51571.0,57240.0,5468.0,0.006324,0.000000,0.000077,0.000000,1118113

In [109]:
pd.set_option('display.max_columns', None)
data

,timestamp,ord_id1,ord_id2,price,qty,messagetype,ltp,ltq,vtt,order type,bidq1,bid1,ask1,askq1,bidq2,bid2,ask2,askq2,bidq3,bid3,ask3,askq3,bidq4,bid4,ask4,askq4,bidq5,bid5,ask5,askq5,shift1_bid1,shift1_ask1,shift2_bid1,shift2_ask1,shift3_bid1,shift3_ask1,shift4_bid1,shift4_ask1,shift5_bid1,shift5_ask1,shift6_bid1,shift6_ask1,shift7_bid1,shift7_ask1,shift8_bid1,shift8_ask1,shift9_bid1,shift9_ask1,shift10_bid1,shift10_ask1,c1,c11,c2,c22,c3,c33,c4,c44,c5,c55,c6,c66,c7,c77,c8,c88,signal,sig_cumm_sum,sig_cumm_sum_h,sig_cumm_sum_l,sig_cumm_sum_w.r.t_hl,signal*ltq,cumm_sum,cumm_sum_h,cumm_sum_l,cumm_sum_w.r.t_hl
time,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
09:15:00.065156,1417252500065156998,1000000000211308,1000000000206098,1571.85,61,TRADE,1571.85,61,45787,BUY,414,1574.75,1572.80,22,189,1571.05,1572.85,19,189,1571.00,1574.30,189,7,1570.65,1574.35,190,10,1570.55,1574.45,47,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1572.80,1571.05,1572.80,1571.05,1572.80,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,61,61,61.0,61.0,NaN
09:15:00.065156,1417252500065156998,1000000000211308,1000000000027666,1572.80,22,TRADE,1572.80,22,45809,BUY,392,1574.75,1572.85,19,189,1571.05,1574.30,189,189,1571.00,1574.35,190,7,1570.65,1574.45,47,10,1570.55,1574.95,150,1574.75,1572.80,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1572.80,1571.05,1572.80,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,1.0,0.0,22,83,83.0,61.0,0.000000
09:15:00.065156,1417252500065156998,1000000000211308,1000000000024064,1572.85,6,TRADE,1572.85,6,45815,BUY,386,1574.75,1572.85,13,189,1571.05,1574.30,189,189,1571.00,1574.35,190,7,1570.65,1574.45,47,10,1570.55,1574.95,150,1574.75,1572.85,1574.75,1572.80,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1572.80,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,3.0,1.0,0.0,6,89,89.0,61.0,0.000000
09:15:00.065156,1417252500065156998,1000000000211308,1000000000043301,1572.85,13,TRADE,1572.85,13,45828,BUY,373,1574.75,1574.30,189,189,1571.05,1574.35,190,189,1571.00,1574.45,47,7,1570.65,1574.95,150,10,1570.55,1575.00,400,1574.75,1572.85,1574.75,1572.85,1574.75,1572.80,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,4.0,1.0,0.0,13,102,102.0,61.0,0.000000
09:15:00.065156,1417252500065156998,1000000000211308,1000000000205993,1574.30,189,TRADE,1574.30,189,46017,BUY,184,1574.75,1574.35,190,189,1571.05,1574.45,47,189,1571.00,1574.95,150,7,1570.65,1575.00,400,10,1570.55,1577.00,14,1574.75,1574.30,1574.75,1572.85,1574.75,1572.85,1574.75,1572.80,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,1571.05,1571.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,5.0,1.0,0.0,189,291,291.0,61.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15:29:57.612070,1417274997612070204,1000000062742831,1000000062740854,1564.90,5,TRADE,1564.90,5,6711335,SELL,40,1562.05,1564.90,945,12,1562.00,1565.00,3511,400,1561.50,1565.05,3,3,1561.45,1565.10,1,295,1561.15,1565.30,475,1562.05,1564.90,1562.05,1564.50,1562.05,1548.95,1562.10,1564.45,1562.10,1564.50,1562.10,1564.50,1562.10,1564.50,1562.05,1564.50,1562.05,1564.50,1562.05,1564.50,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,57807.0,57807.0,1.0,0.0,5,1396579,1400300.0,61.0,0.002657
15:29:57.919841,1417274997919841946,0,1000000062486224,1565.00,1,TRADE,1565.00,1,6711336,SELL,5,1562.10,1565.00,3508,40,1562.05,1565.05,3,12,1562.00,1565.10,1,400,1561.50,1565.30,475,3,1561.45,1565.45,75,1562.10,1565.00,1562.10,1564.90,1562.10,1564.90,1562.05,1564.90,1562.05,1564.90,1562.05,1564.90,1562.05,1564.50,1562.05,1548.95,1562.10,1564.45,1562.10,1564.50,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,57808.0,57808.0,1.0,0.0,1,1396580,1400300.0,61.0,0.002657
15:29:58.563369,1417274998563369113,1000000062742832,1000000062486224,1565.00,3,TRADE,1565.00,3,6711339,BUY,2,1580.65,1565.00,3505,1,1563.80,1565.05,3,40,1562.05,1565.10,1,12,1562.00,1565.30,475,400,1561.50,1565.45,75,1563.85,1565.00,1563.80,1565.00,1562.10,1565.00,1562.10,1565.00,1562.10,1564.90,1562.10,1564.90,1562.05,1564.90,1562.05,1564.90,1562.05,1564.90,1562.05,1564.50,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,57809.0,57809.0,1.0,0.0,3,1396583,1400300.0,61.0,0.002655
15:29:58.563369,1417274998563369113,1000000062742832,1000000059604348,1565.00,2,TRADE,1565.00,2,6711341,SELL,1,1563.80,1565.00,3503,40,1562.05,1565.05,3,12,1562.00,1565.10,1,400,1561.50,1565.30,475,3,1561.45,1565.45,75,1580.65,1565.00,1563.85,1565.00,1563.80,1565.00,1562.10,1565.00,1562.10,1565.00,1562.10,1564.90,1562.10,1564.90,1562.05,1564.90,1562.05,1564.90,1562.05,1564.90,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,57810.0,57810.0,1.0,0.0,2,1396585,1400300.0,61.0,0.002653
15:29:59.136369,1417274999136369038,0,1000000062743263,1564.95,14,TRADE,1564.95,14,6711355,SELL,1,1563.80,1564.95,461,40,1562.05,1565.00,3503,12,1562.00,1565.05,12,400,1561.50,1565.10,1,3,1561.45,1565.30,475,1563.80,1564.95,1563.80,1564.95,1563.80,1564.95,1563.80,1564.95,1563.80,1565.00,1580.65,1565.00,1563.85,1565.00,1563.80,1565.00,1562.10,1565.00,1562.10,1565.00,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,57811.0,57811.0,1.0,0.0,14,1396599,1400300.0,61.0,0.002643

# old cash code

In [11]:
import pandas as pd
import numpy as np
import glob
import os

# Path to the directory containing CSV files
file_path = r'D:\stocks_tbt_data\harman tbt cm data\TCS_'

# Use glob to find all CSV files in the directory
csv_files = glob.glob(file_path + "\\*.csv")

csv_files_sort = pd.DataFrame(csv_files, columns=['date'])
x = 0
for i in csv_files_sort['date']:
    #print(i)
    csv_files_sort.loc[x, 'num'] = i.split('_')[-1].split('.')[0]
    x += 1
csv_files_sort['num'] = pd.to_numeric(csv_files_sort['num'])
csv_files_sorted = csv_files_sort.sort_values(by='num',ascending = True,ignore_index = True)

csv_files_sorted1 = csv_files_sorted.copy()

x1 = csv_files_sorted['date'][0].split("\\")[3]
x2 = csv_files_sorted1['date'][0].split("\\")[2]

# Initialize an empty list to store DataFrames
df_original = pd.DataFrame()
df_final_combine = pd.DataFrame()

# Read each CSV file and append its DataFrame to df_original
for csv_file in csv_files_sorted['date'][:]:
    print(csv_file)
    try:
        df = pd.read_csv(csv_file, low_memory = False)
        df_original = pd.concat([df_original, df], ignore_index=True)
    except pd.errors.EmptyDataError:
        print(f"Empty file found and skipped: {csv_file}")
    except pd.errors.ParserError:
        print(f"Parsing error encountered in file: {csv_file}")

df_original.ffill(inplace=True)        
original_col_list=df_original.columns
original_col_list[1:]
df_original.drop(columns=['ASKQ5'],inplace=True,axis=1)
df_original.columns=original_col_list[1:]

df_original.columns = df_original.columns.str.upper()

df_original['shift1_bid1'] = df_original['BID1'].shift(periods=1)   #shift bid1 by periods 1
df_original['shift1_ask1'] = df_original['ASK1'].shift(periods=1)
df_original['shift2_bid1'] = df_original['BID1'].shift(periods=2)   #shift bid1 by periods 1
df_original['shift2_ask1'] = df_original['ASK1'].shift(periods=2)
df_original['shift3_bid1'] = df_original['BID1'].shift(periods=3)   #shift bid1 by periods 1
df_original['shift3_ask1'] = df_original['ASK1'].shift(periods=3)
df_original['shift4_bid1'] = df_original['BID1'].shift(periods=4)   #shift bid1 by periods 1
df_original['shift4_ask1'] = df_original['ASK1'].shift(periods=4)
df_original['shift5_bid1'] = df_original['BID1'].shift(periods=5)   #shift bid1 by periods 1
df_original['shift5_ask1'] = df_original['ASK1'].shift(periods=5)
df_original['shift6_bid1'] = df_original['BID1'].shift(periods=6)   #shift bid1 by periods 1
df_original['shift6_ask1'] = df_original['ASK1'].shift(periods=6)
df_original['shift7_bid1'] = df_original['BID1'].shift(periods=7)   #shift bid1 by periods 1
df_original['shift7_ask1'] = df_original['ASK1'].shift(periods=7)
df_original['shift8_bid1'] = df_original['BID1'].shift(periods=8)   #shift bid1 by periods 1
df_original['shift8_ask1'] = df_original['ASK1'].shift(periods=8)
df_original['shift9_bid1'] = df_original['BID1'].shift(periods=9)   #shift bid1 by periods 1
df_original['shift9_ask1'] = df_original['ASK1'].shift(periods=9)
df_original['shift10_bid1'] = df_original['BID1'].shift(periods=10)   #shift bid1 by periods 1
df_original['shift10_ask1'] = df_original['ASK1'].shift(periods=10)

mask = (df_original['shift1_ask1'] - df_original['shift1_bid1']) > 0
# Assign values based on the mask
df_original.loc[mask, 'c1'] = np.where(
    (df_original.loc[mask, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask, 'LTP'] <= df_original.loc[mask, 'shift1_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask, 'c11'] = np.where(
    (df_original.loc[mask, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask, 'LTP'] > df_original.loc[mask, 'shift1_bid1']),1,0)

mask1 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask1, 'c2'] = np.where(
    (df_original.loc[mask1, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask1, 'LTP'] <= df_original.loc[mask1, 'shift2_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask1, 'c22'] = np.where(
    (df_original.loc[mask1, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask1, 'LTP'] > df_original.loc[mask1, 'shift2_bid1']),1,0)

mask2 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask2, 'c3'] = np.where(
    (df_original.loc[mask2, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask2, 'LTP'] <= df_original.loc[mask2, 'shift3_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask2, 'c33'] = np.where(
    (df_original.loc[mask2, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask2, 'LTP'] > df_original.loc[mask2, 'shift3_bid1']),1,0)

mask3 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask3, 'c4'] = np.where(
    (df_original.loc[mask3, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask3, 'LTP'] <= df_original.loc[mask3, 'shift4_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask3, 'c44'] = np.where(
    (df_original.loc[mask3, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask3, 'LTP'] > df_original.loc[mask3, 'shift4_bid1']),1,0)

mask4 = ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) & ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) & ((df_original['shift5_ask1'] - df_original['shift5_bid1']) > 0)
# Assign values based on the mask
df_original.loc[mask4, 'c5'] = np.where(
    (df_original.loc[mask4, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask4, 'LTP'] <= df_original.loc[mask4, 'shift5_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask4, 'c55'] = np.where(
    (df_original.loc[mask4, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask4, 'LTP'] > df_original.loc[mask4, 'shift5_bid1']),1,0)

mask5 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask5, 'c6'] = np.where(
    (df_original.loc[mask5, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask5, 'LTP'] <= df_original.loc[mask5, 'shift6_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask5, 'c66'] = np.where(
    (df_original.loc[mask5, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask5, 'LTP'] > df_original.loc[mask5, 'shift6_bid1']),1,0)

mask6 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
        ((df_original['shift7_ask1'] - df_original['shift7_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask6, 'c7'] = np.where(
    (df_original.loc[mask6, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask6, 'LTP'] <= df_original.loc[mask6, 'shift7_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask6, 'c77'] = np.where(
    (df_original.loc[mask6, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask6, 'LTP'] > df_original.loc[mask6, 'shift7_bid1']),1,0)

mask7 = (
        ((df_original['shift1_ask1'] - df_original['shift1_bid1']) <= 0) & ((df_original['shift2_ask1'] - df_original['shift2_bid1']) <= 0) &
        ((df_original['shift3_ask1'] - df_original['shift3_bid1']) <= 0) & ((df_original['shift4_ask1'] - df_original['shift4_bid1']) <= 0) &
        ((df_original['shift5_ask1'] - df_original['shift5_bid1']) <= 0) & ((df_original['shift6_ask1'] - df_original['shift6_bid1']) <= 0) &
        ((df_original['shift7_ask1'] - df_original['shift7_bid1']) <= 0) & ((df_original['shift8_ask1'] - df_original['shift8_bid1']) > 0)
)
# Assign values based on the mask
df_original.loc[mask7, 'c8'] = np.where(
    (df_original.loc[mask7, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask7, 'LTP'] <= df_original.loc[mask7, 'shift8_bid1']),-1,0)
# Assign values based on the mask
df_original.loc[mask7, 'c88'] = np.where(
    (df_original.loc[mask7, 'MESSAGETYPE'] == "TRADE") & (df_original.loc[mask7, 'LTP'] > df_original.loc[mask7, 'shift8_bid1']),1,0)

# df_original['signal'] = df_original['c1']+df_original['c11']+df_original['c2']+df_original['c22']+df_original['c3']+df_original['c33']+ df_original['c4']+df_original['c44']+df_original['c5']+df_original['c55']+df_original['c6']+df_original['c66']+ df_original['c7']+df_original['c77']+df_original['c8']+df_original['c88']
columns_to_sum = [
    'c1', 'c11', 'c2', 'c22', 'c3', 'c33', 
    'c4', 'c44', 'c5', 'c55', 'c6', 'c66', 
    'c7', 'c77', 'c8', 'c88'
]
df_original['signal'] = df_original[columns_to_sum].sum(axis=1, skipna=True)
df_original=df_original[df_original['MESSAGETYPE']=='TRADE']
df_original['signal'] = df_original['signal'].replace(0,np.nan)
df_original['signal'] = df_original['signal'].ffill()

df_original['signal*LTQ'] = df_original['LTQ'].astype(int) * df_original['signal'].astype(int)

df_original_cumm=df_original.copy()
df_original_cumm['cumm_sum']=df_original_cumm['sum'].cumsum()
df_original_cumm.head()

# path = "F:\\mansukh\\Tbt data file\\FINNIFTY24APR21300CE\\"
file_name = file_path + "cash_"+"df_original.csv"
df_original_cumm.to_csv(file_name, index=False)

D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_1.CSV
D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_2.CSV
D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_3.CSV
D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_4.CSV
D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_5.CSV
D:\stocks_tbt_data\harman tbt cm data\TCS_\TCS_6.CSV

In [6]:
pd.set_option('display.max_columns', None)
# df_original.head()
df_original_cumm.head()

,SQN,TIME,ORD_ID1,ORD_ID2,PRICE,QTY,MESSAGETYPE,LTP,LTQ,VTT,ORDER TYPE,BIDQTY1,BID1,ASK1,ASKQTY1,BIDQTY2,BID2,ASK2,ASKQTY2,BIDQTY3,BID3,ASK3,ASKQTY3,BIDQTY4,BID4,ASK4,ASKQTY4,BIDQTY5,BID5,ASK5,ASKQTY5,shift1_bid1,shift1_ask1,shift2_bid1,shift2_ask1,shift3_bid1,shift3_ask1,shift4_bid1,shift4_ask1,shift5_bid1,shift5_ask1,shift6_bid1,shift6_ask1,shift7_bid1,shift7_ask1,shift8_bid1,shift8_ask1,shift9_bid1,shift9_ask1,shift10_bid1,shift10_ask1,c1,c11,c2,c22,c3,c33,c4,c44,c5,c55,c6,c66,c7,c77,c8,c88,signal,sum,cumm_sum
21,174315356,2024-12-05 14:00:00.167325,0.000000e+00,1.100000e+15,1327.45,1,TRADE,1327.45,1,7669590,NaN,3,1327.40,1327.45,1,7,1327.3,1327.60,158,389,1327.25,1327.65,375,167,1327.2,1327.70,121,32,1327.15,1327.75,2181,1327.40,1327.45,1327.40,1327.45,1327.40,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1
22,174315357,2024-12-05 14:00:00.167325,0.000000e+00,1.100000e+15,1327.45,1,TRADE,1327.45,1,7669591,NaN,3,1327.40,1327.60,158,7,1327.3,1327.65,375,389,1327.25,1327.70,121,167,1327.2,1327.75,2181,32,1327.15,1327.80,250,1327.40,1327.45,1327.40,1327.45,1327.40,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,1327.4,1327.45,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,2
43,174315667,2024-12-05 14:00:00.191140,1.100000e+15,1.100000e+15,1327.40,3,TRADE,1327.40,3,7669594,NaN,364,1327.25,1327.20,697,142,1327.2,1327.60,168,25,1327.15,1327.65,712,136,1327.1,1327.70,148,48,1327.05,1327.75,2462,1327.40,1327.20,1327.40,1327.60,1327.40,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,NaN,NaN,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-3,-1
45,174315669,2024-12-05 14:00:00.191140,1.100000e+15,1.100000e+15,1327.25,133,TRADE,1327.25,133,7669727,NaN,363,1327.25,1327.20,564,142,1327.2,1327.60,168,25,1327.15,1327.65,712,136,1327.1,1327.70,148,48,1327.05,1327.75,2462,1327.25,1327.20,1327.25,1327.20,1327.40,1327.20,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-133,-134
46,174315670,2024-12-05 14:00:00.191140,1.100000e+15,1.100000e+15,1327.25,137,TRADE,1327.25,137,7669864,NaN,226,1327.25,1327.20,427,142,1327.2,1327.60,168,25,1327.15,1327.65,712,136,1327.1,1327.70,148,48,1327.05,1327.75,2462,1327.25,1327.20,1327.25,1327.20,1327.25,1327.20,1327.4,1327.20,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,1327.4,1327.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-137,-271